@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

/** global **/
body {
	margin:0px auto;
	padding:0;
	font-family: 'Oxygen', 'sans-serif';
	font-size: 1.0em;
	color:#333;
	background:#AED1F4;
}
* {
	margin:0;
	padding:0;
}


/** element defaults **/
table {
	width:100%;
	text-align:left;
}
th, td {
	padding:5px 10px;
}
th {
	color:#fff;
	background-color:#E95AA1;
}
td {
	border-bottom:1px solid #f4f4f4;
}
code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:1.9em;
	margin-bottom:20px;
}
a {
	color:#E53E91;
}
a:hover {
	color:#2284B8;
}
a:focus {
	outline:none;
}
a.button { 
    background-color: #EB68A9;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button:hover {
	background-color: #E54394;
}

a.button-reversed { 
    background-color: #549EE8;
}

a.button-reversed:hover {
	background-color: #2885E2;
}
fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	font-size:13px;
	padding-right:10px;
	color:#222;
}
fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family:Oxygen, Arial, Helvetica, sans-serif;
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family:Oxygen, Arial, Helvetica, sans-serif;
	border:1px solid #ddd;
}
fieldset form input.formbutton {
	background:#E95AA1;
	border:none;
	color:#ffffff;
	font-weight:bold;
	padding:5px 10px;
	font-size:13px;
}
h1 {
	font-size:2.4em;
	color: #3E91E5;
}
h2 {
	color:#333;
	font-size:1.8em;
	font-weight:bold;
	letter-spacing:-1px;
	padding:0 0 5px;
	margin:0;
}
h3 {
	color:#3E91E5;
	font-size:1.6em;
	padding-bottom:10px;
}
h4 {
	padding-bottom:10px;
	font-size:1.4em;
	color:#E95AA1;
}
h5 {
	padding-bottom:10px;
	font-size:1.2em;
	color:#666666;
}
ul, ol {
	margin:0 0 35px 35px;
}
li {
	padding-bottom:5px;
}


/** wrapper **/
div#wrapper {
	margin:0px auto;
	padding:0;
}

.width {
	width:920px;
	margin: 0 auto;
}


/** sitename **/
div#sitename {
}

div#sitename h1 {
	letter-spacing:-3px;
	margin:16px 0 0;
	font-size: 3.0em;
	float: left;
	padding:0 20px;
}
div#sitename h1 a,
div#sitename h1 a:hover {
	color:#3E91E5;
	text-decoration:none;
}


nav {
	float: right;
	margin-top: 64px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	display: block;
	padding: 0;
}


nav ul li a {
    color: #fff;
    background: #549EE8;
    display: block;
    font-size: 0.95em;
    letter-spacing: 0;
	margin: 5px 0 0;
	font-weight: normal;
    padding: 8px 15px 8px;
    text-decoration: none;
box-shadow:-1px 1px 0 transparent;
border-right: 1px solid #3E91E5;
}
nav ul li.selected a,
nav ul li.selected a:hover { 
	
	background-color: #F198C4;
	
}


nav ul li a:hover {
	color: #fff;
	text-decoration: none;
}

/** header **/
header {
	padding:30px 25px;
	margin:0 auto;
	background-color:#FB6301;
	background: linear-gradient(#FB6301,#FF0066 );
	border-bottom: 15px solid #E54394;
}
header h2 {
	color:#ffffff;
	font-size: 1.9em;
	padding-bottom:0;
	letter-spacing:0;
}
header div.tagline {
	color:#f0f0f0;
	font-size:0.9em;
}
header div.tagline a {
	color:#ffffff;
}



/** body **/
section#body {
	padding:10px 20px;
	background:#fff;
}


/** content+sidebar styles **/
section#content {
	width:600px;
}
.column-left {
	float:left;
	margin-right:20px;
}
.column-right {
	float:right;
}
aside#sidebar {
	width:250px;
}
aside#sidebar ul {
	margin:0;
	padding:0;
	list-style:none;
}
aside#sidebar li ul {
	margin-bottom:20px;
}
aside#sidebar li ul li {
	display:block;
	padding:12px 10px;
	border-bottom:1px solid #ddd;
	color:#777;
}
aside#sidebar li {
	color:#666;
	font-size: 0.9em;
}
aside#sidebar li ul li a {
	text-decoration:none;
	font-weight:bold;
}
aside#sidebar li ul li a:hover {
	text-decoration:underline;
}


aside#sidebar li ul.blocklist li {
	padding:0;
}
aside#sidebar li ul.blocklist li.selected-item  {
	border-bottom:none;
}
aside#sidebar li ul.blocklist li.selected-item a{
	color:#fff;
	font-weight:bold;
	background: linear-gradient(#00FF00, #66CC66);
}
aside#sidebar li ul.blocklist li.selected-item a:hover {
	color:#fff;
	font-weight:bold;
	background: linear-gradient(#F198C4, #FF0000);
}
aside#sidebar li ul.blocklist li a:hover {
	background:#f0f0f0;
	text-decoration:none;
}
aside#sidebar li ul.blocklist li a {
	color:#666;
	display:block;
	padding:10px 10px;
}

aside#sidebar h4 { 
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	padding:7px 10px;
}


article {
    padding: 10px 10px 20px 5px;
	font-size: 0.9em;
 }

article h2 {
    padding-bottom: 0;
   font-size: 2.1em;
}

article .article-info {
    color: #999;
    font-size: 0.9em;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #666;
}

body{
font-size:120%;
}

/** footer **/
footer {
	margin:0px auto 0;
	background: #E958A0;
	border-top: 10px solid #E54394;
}

footer p {
	text-align: left;
	color: #eee;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #fff;
	font-weight: bold;
}

.footer-content {
	padding: 20px 25px 30px;
}

footer .footer-content ul {
	width: 260px;
	list-style: none;
	margin: 0 65px 0 0;
	padding: 0;
	float: left;
}

footer .footer-content li {
	padding: 0;
}

footer .footer-content li a, footer .footer-content h4 {
}

footer .footer-content li a {
 color: #fcfcfc;
    font-size: 0.8em;
    text-decoration: underline;
}

footer .footer-content li a:hover { 
	color: #fff;
}

footer .footer-content h4 {
   color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 0;
}

footer .footer-content ul.endfooter {
	margin-right: 0;
}
footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #EB6FAD;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #EEA0C7;
}


/** clear fix **/
.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	display: inline-block;
}
.clear {
	display: block;
}





@media screen and (max-width: 740px) {

	body { font-size: 0.9em; }	

	#sitename { letter-spacing:-2px; text-align:center; }


	.width { width:auto; padding-left: 10px; padding-right: 10px; }

	.column-left, .column-right { margin:0 5px; }
	
	section#content, aside#sidebar { float: none; width: auto; }

	footer .footer-content ul { width: auto; float: none; }
}


@media screen and (max-width: 540px) {

	body { font-size: 0.8em; }

	
	div#sitename h1 { float: none; }

	header, div#sitename h1 a, div#sitename h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }

	nav ul li { float: none; text-align:center;  }

	nav ul li a { margin-top: 0; padding: 0.5em; }

	nav { height: auto; position: relative; margin-top:0; float: none; }

}

input[type=submit],input[type=reset],input[type=button] {
    background-color: #33E6FF  ;
    border: none;
    color: #FF4233;
    padding: 5px 48px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button] {
    background-color: #FF00FF  ;
    border: none;
    color: white;
    padding: 5px 48px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover {
    background-color: #336BFF;
    border: none;
    color: white;
    padding: 10px 48px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: red;
    
}

input[type=number],input[type=email],input[type=text],input[type=password] {
	border-right:none;
	border-top:none;
	border-left:none;
	border-bottom:2px solid #3346FF;
    color: #590707;
    padding: 5px 48px;
	text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=number]:hover,input[type=email]:hover,input[type=text]:hover,input[type=password]:hover {
	border-right:none;
	border-top:none;
	border-left:none;
	border-bottom:2px solid #3346FF;
    color: #FF0000;
    padding: 16px 48px;
	text-align: center;
    margin: 4px 2px;
    cursor: pointer;
	font-size:15px;
}
input[type=radio] {
    height: 20px;
    width: 30px;
}
input[type=radio]:hover {
    height: 30px;
    width: 40px;
}
